<section>
	{{#if concentration}}
		<div class="concentration-warning" style="border: 1px solid orange; color: black; background: #fffbe6; padding: 8px; margin-bottom: 8px;">
			{{{concentrationNote}}}
		</div>
	{{/if}}
<!--
	{{#if reaction}}
		{{#if reactionUsed}}
			<div class="reaction-warning" style="border: 1px solid red; color: black; background: #ffe6e6; padding: 8px; margin-bottom: 8px;">
			Reaction already used.
			</div>
		{{else}}
			<div class="form-group">
				<label>
					Use Reaction?
				</label>
				<div class="form-fields">
					<input type="checkbox" name="useReaction" {{checked useReaction}} />
				</div>
			</div>
		{{/if}}
	{{/if}}
!-->
</section>